<% provide(:page_title, 'About') %>
<!-- <!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %></title>
</head>
<body> -->
<h1>わかったー</h1>
<center>
<p>
	「ｲｲﾈ」や「☆」では伝えきれない、「わかる」を伝えよう。<br>
	キラキラしたことばっかり書かなくていいんだよ、わかったー？
</p>
</center>
<!-- </body>
</html> -->