<% provide(:page_title, 'Contact') %>
<!-- <!DOCTYPE html>
<html>
<head>
		<title><%= yield(:title) %></title>
</head>
<body> -->
<h1>Contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<!-- </body>
</html> -->