<% provide(:page_title, '捌け口') %>
<!-- <!DOCTYPE html>
<html>
<head>
		<title><%= yield(:title) %></title>
</head>
<body> -->
<br>
<h1>捌け口</h1>
<center>
<p>わきさかまでご一報ください</p>
</center>
<!-- </body>
</html> -->