<% provide(:page_title, 'えらったー') %>

<br>
<h1>えらったー</h1>
<ol class="explain">るーちんぐえらーです</ol>
<ol class="explain">こんにちは、ありがとう、さよなら</ol>
<ol class="explain"><%= link_to 'また会いましょう', root_path, class: "btn btn-warning" %></ol>