<% provide(:page_title, 'へるぷ') %>
<% provide(:screen, true) %>

<br>
<h1>注意書き</h1>
<ol class="explain">いっぱい呟いて「わかる」を集めてください。</ol>
<ol class="explain">しょーもないと「わからん」も集まります。</ol>
<ol class="explain">”わかられな”すぎるとアカウントが消えます。</ol>
<ol class="explain">消えたアカウントやポストのURLは踏まないでください。</ol>
<ol class="explain">（とはいえ意図せず踏む場合もありますが……）</ol>
<ol class="explain">呟き、ほろー、ほろわー、”わかられる”の数によって<br>フィードのアイコンサイズが変わります。</ol>