<% provide(:page_title, 'Help') %>
<!-- <!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %></title>
</head>
<body> -->
<br>
<h1>わからない？</h1>
<center>
<p>わかるわかる。わからないよね。わかるよ、うんうん。</p>
</center>
<!-- </body>
</html> -->