<% provide(:page_title, 'へるぷ') %>
<!-- <!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %></title>
</head>
<body> -->
<br>
<h1>わからない？</h1>
<center>
<p>わかるわかる。わからないよね。わかるよ、うんうん。</p>
ちゃんとした使い方は<%= link_to "こちら", explanation_path %>
</center>
<!-- </body>
</html> -->