<footer class="navbar navbar-fixed-bottom">
  <div style = "width:85%", class = "container">
  <small>
    <a href="http://gogen-allguide.com/wa/wakaru.html">わかったー</a>
    by Yuki Wakisaka
  </small>
  <nav>
    <ul>
      <li><%= link_to 'あばうと', about_path %></li>
      <li><%= link_to '捌け口', contact_path %></li>
    </ul>
  </nav>
</div>
</footer>