<!-- <footer class="footer"> -->
<footer class="navbar navbar-fixed-bottom">
  <div style = "width:85%", class = "container">
  <small>
    <a href="https://still-refuge-9768.herokuapp.com/">wakatter</a>
    by Yuki Wakisaka
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
<!--       <li><a href="http://news.railstutorial.jp/">News</a></li> -->
    </ul>
  </nav>
</div>
</footer>